.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
}

@media (max-width: 650px) {
  .grid {
    flex-direction: column;
  }
}
