.root {
  width: 67%;
  height: 300px;
  display: flex;
  border: 1px solid var(--color-border);
  padding: var(--card-padding);
  text-align: left;
  color: inherit;
}

.left {
  width: 50%;
  margin: 0 0 1rem 0;
}

.left h2 {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
}

.right {
  width: 50%;
  margin: 0 0 1rem 0;
}

.root p {
  margin: 0;
  font-size: 1rem;
  line-height: var(--line-height);
}

@media (max-width: 650px) {
  .root {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 1000px) {
  .root {
    flex-direction: column;
  }

  .root h2 {
    width: 100%;
  }

  .root p {
    width: 100%;
  }
}
